<div>
  <div class="container form-hourly-vehicles" *ngIf="!exitVehicleSuccess">
    <h5>Ingrese los datos del vehiculo </h5>

    <form [formGroup]="myForm">
      <div class="form-row">
        <div class="form-group col form-custom-col">
          <label for="licenseplate" class="input-label">Matricula: </label>
          <input type="text" formControlName="licenseplate" class="form-control form-input-text">
        </div>

        <div class="form-group col form-custom-col">
          <label for="ticket" class="input-label">Nro Ticket: </label>
          <input type="text" formControlName="ticket" class="form-control form-input-text">
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-success rounded-button grid-button" [disabled]="myForm.invalid" (click)="exitVehicle()">Ingresar</button>
      </div>
    </form>
  </div>

  <div class="container success-messages" >

    <div class="row alerts">
      <div class="d-flex justify-content-center animated fadeIn fast">
        <div *ngIf="showingAlert" style="padding-top: 20px">
          <div class="alert alert-danger col-form-label-sm" role="alert">
            {{ messageError }}
          </div>
        </div>
        <div *ngIf="showingPanel" style="padding-top: 20px">
          <div class="alert alert-success col-form-label-sm" role="alert">
            {{ messageError }}
          </div>
        </div>
      </div>
    </div>

    <div class="entry-success" *ngIf="exitVehicleSuccess">
      <!-- <h5>Vehiculo entregado correctamente</h5> -->

      <div>
        <p> Matricula: {{ returnStatusExit.licenseplate }}</p>
        <p> Fecha Ingreso: {{ this.returnStatusExit.startingDate | date:'dd-MMM HH:mm'}}</p>
        <p> Fecha Salida: {{ this.returnStatusExit.endingDate | date:'dd-MMM HH:mm'}} </p>

        <h5>Monto a cobrar: {{ returnStatusExit.totalAmount }} </h5>
      </div>

      <div class="print-btn" *ngIf="!printingTicket">
        <button *ngIf="!printingTicket" type="button" class="btn btn-success rounded-button grid-button" (click)="imprimirTicket()">
          <i class="bi bi-printer bi-md"></i> Imprimir Ticket
        </button>
      </div>

      <div *ngIf="printingTicket">
        <h5>Imprimiendo Ticket</h5>
      </div>

      <div class="print-btn" *ngIf="showBackButton">
        <button type="button" class="btn btn-success rounded-button grid-button" (click)="goBack()">
          <i class="bi bi-arrow-left bi-md"></i> Volver
        </button>
      </div>
    </div>
  </div>
</div>
