.jumbotron-fluid {
  background-color: #e9f5ed; /* Light greenish color */
  padding: 20px;
}

.container {
  background-color: #ffffff; /* Keep it simple and clean */
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
}

.header-title {
  color: #333;
  text-align: center;
  margin-top: 10px !important;
  font-size: 24px;
}

.hr-header {
  border-top: 2px solid #58a86d; /* Use the sidebar green tone */
  margin-top: 10px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #58a86d; /* Match with sidebar */
}

th {
  background-color: #f1f7f5; /* Light background for table headers */
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: #d8e9d8; /* Slight hover effect */
}

/* .search-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.search-bar input[type="text"] {
  margin-right: 15px;
  padding: 6px;
  border: 1px solid #58a86d;
  border-radius: 4px;
}

.search-bar button {
  background-color: #58a86d;
  border: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a85a;
}

.grid-button {
  padding: 6px 12px;
  color: #fff;
  background-color: #58a86d;
  border-radius: 20px;
  cursor: pointer;
}

.grid-button:hover {
  background-color: #45a85a;
}

.add-user-button {
  background-color: #58a86d;
  color: white;
  border-radius: 20px;
}

.add-user-button:hover {
  background-color: #45a85a;
}

.alert {
  border-radius: 8px;
  text-align: center;
}

.alert-danger {
  background-color: #ffdddd;
  color: #d9534f;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
} */
