<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="page-title">
    <app-page-title
      [componentTitle]="_pageTitle">
    </app-page-title>
  </div>

  <div class="container">
    <div class="row list-home">
      <div class="col-md-12">
        <div *ngIf="!_isLoading">
          <app-users-grid
            [users] ="_userList"
            (userDeleteEvent)="handleDeleteUser($event)"
            (userEditEvent)="handleEditUser($event)"
            (userCreateEvent)="handleCreateUser($event)"
            [errorUpdate]="errorUpdate"
            [successMessage]="userSuccessMessage"
            >
          </app-users-grid>
        </div>
      </div>
    </div>
  </div>
</div>
