<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand title" [routerLink]="['home']">Nicre Vencimientos</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" [routerLink]="['home']">
    <img src="assets/img/home_logoParkingMensual.png" width="30" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] ="['home']">Inicio </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['productItems/new']">Ingresar productos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['calendar']">Proximos vencimientos</a>
        </li>

        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="['monthlyClients']">Parking Mensual</a>
        </li> -->
      </ul>

      <ul class="navbar-nav" *ngIf="isLoggedIn() && hasRole('Admin')">
        <li class="nav-item dropdown ml-auto" >
            <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" (click)="toggleDropdownAdminUser()">Administracion</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngClass="{show: showDropdownAdminUser, disabled: !showDropdownAdminUser}" #dropdownUserMenu>
                <a class="dropdown-item" [routerLink]="['users']" *ngIf="hasRole('Admin')">Usuarios</a>
                <!-- <a class="dropdown-item" [routerLink]="['administration/monthlyClients']">Mensualidades</a> -->
                <a class="dropdown-item" [routerLink]="['administration/suppliers']">Proveedores</a>
                <a class="dropdown-item" [routerLink]="['administration/products']">Productos</a>
                <a class="dropdown-item" [routerLink]="['administration/settings']">Configuraciones</a>
                <a class="dropdown-item" [routerLink]="['administration/fileUploads']">Carga Excel</a>
            </div>
        </li>

        <!-- <li class="nav-item dropdown ml-auto" >
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" (click)="toggleDropdownReports()">Reportes</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngClass="{show: showDropDownReports, disabled: !showDropDownReports}" #dropdownReportsMenu>
              <a class="dropdown-item" [routerLink]="['administration/monthlyDebtorsReport']">Reporte Deudores Mensuales</a>
              <a class="dropdown-item" [routerLink]="['administration/monthlyReport']">Reporte Parking Mensual</a>
              <a class="dropdown-item" [routerLink]="['administration/hourlyReport']">Reporte Parking Por hora</a>
              <a class="dropdown-item" [routerLink]="['administration/nightlyReport']">Reporte Parking Nocturno</a>
          </div>
        </li> -->

        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink] ="['administration/monthlyClients']"> Gestion mensualidades </a>
        </li> -->
    </ul>
      <div class="ml-auto ">
        <ul class="navbar-nav navbar-right navbar-login" style="margin-left: 10px;">
          <li class="nav-item" routerLinkActive="active">
              <button type="button" class="btn btn-primary mr-2" [routerLink]="['login']" *ngIf="!session.isLogged">Login</button>
              <button type="button" class="btn btn-danger" (click)="logout()" [routerLink]="['home']" *ngIf="session.isLogged">Logout</button>
          </li>
        </ul>
      </div>

  </div>
</nav>
