<div class="modal" [ngClass]="{ 'open': isOpen }">
  <div class="modal-overlay"></div>
  <div class="modal-container" *ngIf="!isEditing">
    <div class="modal-header">
      <h5 class="modal-title">Ingreso de productos</h5>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-content">
      <app-product-items-create #productItemsCreate
        (productItemCreated)="handleProductItemCreated($event)"
        [product]="productSelected"
      ></app-product-items-create>
    </div>
  </div>

  <div class="modal-container" *ngIf="isEditing">
    <div class="modal-header">
      <h5 class="modal-title">Editar Producto</h5>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-content">
      <app-product-items-edit #productItemsEdit
          (productItemEdited)="handleProductItemEdited($event)"
          [productItemToEdit]="productItemToEdit"
          >
      </app-product-items-edit>
    </div>
  </div>
</div>
