<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <app-page-title
   [componentTitle]="_pageTitle">
  </app-page-title>

  <div class="container">
    <div class="row">

      <div class="overlay" *ngIf="_isLoading"></div>
      <app-spinner *ngIf="_isLoading"></app-spinner>

      <div>
        <div class="col-md-12">

          <div class="">
            <h3 class="header-title">Buscar Producto</h3>
            <hr class="hr-header">
          </div>

          <div class="">
            <div class="search-bar">
              <input type="text" placeholder="Buscar por codigo barras" [(ngModel)]="barCodeFilter">
              <input type="text" placeholder="Buscar por nombre" [(ngModel)]="productNameFilter">
              <button type="button" class="btn btn-success rounded-button grid-button" (click)="getProducts()">
                <i></i> Buscar
              </button>
            </div>

            <div *ngIf="!_isLoadingProducts">
              <app-products-grid
                [products] ="_productList"
                (addProductItemEvent)="handleAddProductItem($event)"
                [isAddingProductItems]="isAddingProductItems"
                >
              </app-products-grid>
            </div>
          </div>
        </div>
      </div>

      <div class="clientSection">
        <div class="col-md-12" >

          <app-product-items-modal #productItemsModal
                (productItemCreatedModal)="handleCreateProductItem($event)"
                [productSelected]="_productSelected">
          </app-product-items-modal>

          <app-product-items-modal #productItemsEditModal
                (productItemEditedModal)="handleEditProductItem($event)"
                [productItemToEdit]="_productItemToEdit"
                [isEditing]="_isEditingProductItem"
                >
          </app-product-items-modal>

          <div class="col-md-12" *ngIf="_newProductItems.length > 0">
            <div class="col-md-12">
              <div class="row">
                <h3 class="header-title">Productos a Agregar</h3>
                <hr class="hr-header">
              </div>
            </div>
            <div>
              <table class="table table-bordered table-striped table-hover table-sm table-responsive-md">
                <thead class="thead-dark">
                  <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Fecha vencimiento</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let productItem of _newProductItems; let i = index">
                    <tr >
                      <td>
                        <span>{{ productItem.product.name }}</span>
                      </td>
                      <td>
                        <span>{{ productItem.product.description }}</span>
                      </td>
                      <td>
                        <span>{{ productItem.amount }}</span>
                      </td>
                      <td>
                        <span>{{ productItem.expirationDate | date:'dd-MM-yyyy' }}</span>
                      </td>
                      <td>
                        <button type="button" class="btn btn-success rounded-button grid-button" (click)="editProductItem(i)">
                          <i class="bi bi-trash bi-md"></i> Editar
                        </button>
                        <button type="button" class="btn btn-success rounded-button grid-button" (click)="removeProductFromList(i)">
                          <i class="bi bi-trash bi-md"></i> Quitar
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12">
            <div *ngIf="_newProductItems.length !== 0">
              <button type="button" class="btn btn-success rounded-button add-pi-button"  *ngIf="_newProductItems.length == 1" (click)="openSubmitModal()" [disabled]="_disableAllButtons">
                <i class="bi bi-plus bi-lg"></i> Ingresar Producto
              </button>

              <button type="button" class="btn btn-success rounded-button add-pi-button"  *ngIf="_newProductItems.length > 1" (click)="openSubmitModal()" [disabled]="_disableAllButtons">
                <i class="bi bi-plus bi-lg"></i> Ingresar Productos
              </button>
            </div>

            <app-generic-modal #submitModal
              (submittedButton)="handleSubmitModalEvent($event)"
              [modalTitle]="_submitModalTitle"
              [isCreatingProductItems]="_submitedModalIsCreating"
              [productItemsDataToShow]="_newProductItems"
              >
            </app-generic-modal>

            <div class="row alerts">
              <div class="d-flex justify-content-center animated fadeIn fast">
                <div *ngIf="showingCreateProductStep1Alert" style="padding-top: 20px">
                  <div class="alert alert-danger col-form-label-sm" role="alert">
                      {{ messageError }}
                  </div>
                </div>

                <div *ngIf="showingCreateProductConfirmationPanel" style="padding-top: 20px">
                  <div class="alert alert-success col-form-label-sm" role="alert">
                      {{ messageError }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
