<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div class="row">
        <h3 class="display-list-home">Producto</h3>
      </div>

      <div class="container">
        <div class="row formulary">
          <div class="d-flex justify-content-center animated fadeIn fast">
            <div class="w-70">
              <form [formGroup]="myForm" (ngSubmit)="createProductItem()" class="form-modal">
                <div class="form-row">

                  <div class="form-group col form-custom-col" *ngIf="product != undefined">
                    <label for="name" class="input-label">Producto</label>
                    <input type="text" formControlName="name" class="form-control form-input-text" [(ngModel)]="product.name" readonly>
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="amount" class="input-label">Cantidad</label>
                    <input type="number" formControlName="amount" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="expirationDate" class="input-label">Fecha de Vencimiento</label>
                    <input type="date" formControlName="expirationDate" class="form-control form-input-text">
                  </div>



                  <div class="submit-button">
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Ingresar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

