<!-- app.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 ">
      <div class="sideBar" *ngIf="isLoggedIn()">
        <app-site-side-bar></app-site-side-bar>
      </div>

    </div>
    <div class="col-md-10 navBar">
      <!-- <app-navigation-bar></app-navigation-bar> -->
      <!-- Contenido principal de la aplicación Angular -->
    </div>
  </div>

  <div *ngIf="!isLoggedIn()">
    <div class="row">
      <div class="col-md-12">
          <app-session></app-session>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
      <!-- Contenido principal de la aplicación Angular -->
       <!-- <div *ngIf="!isLoggedIn()">
        <app-session></app-session>
       </div> -->

       <div *ngIf="isLoggedIn()">
        <router-outlet></router-outlet>
       </div>

    </div>

  </div>
</div>
