<div class="container-fluid">
  <div class="row">
    <!-- Columna del lado izquierdo con la tarjeta -->
    <!-- <div class="col-md-2 p-0">
      <div class="overlay" *ngIf="_isLoading"></div>
      <app-spinner *ngIf="_isLoading"></app-spinner>

      <div *ngIf="!_isLoading">
        <app-monthly-client-side-card
          [monthlyClient]="_monthlyClient"
          (monthlyClientEditEvent)="handleEditMonthlyClient($event)"
          >
        </app-monthly-client-side-card>
      </div>

    </div> -->
    <!-- Columna del contenido principal -->
    <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid animated fadeIn fast">
        <div class="overlay" *ngIf="_isLoading"></div>
        <app-spinner *ngIf="_isLoading"></app-spinner>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <app-page-title
                [componentTitle]="_pageTitle">
              </app-page-title>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row list-home">
            <div class="col-md-12">
              <div *ngIf="!_isLoading">
                <app-supplier-card
                  [supplier] ="_supplier"
                  (supplierEditEvent)="handleEditSupplier($event)"

                  >
                </app-supplier-card>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row list-home">
            <div class="col-md-12">
              <div *ngIf="!_isLoadingProducts">
                <app-products-grid
                  [products] ="_supplierProducts"
                  (productDeleteEvent)="handleDeleteProduct($event)"
                  [errorMessage]="errorProductDelete"
                  [successMessage]="productSuccessMessage"
                  (productViewFileEvent)="handleViewProductFile($event)"
                  >
                </app-products-grid>
              </div>
            </div>
          </div>
        </div>



        <!-- <div>
          <app-bills-grid
            [bills]="_monthlyClientBills"
            (manualBillCreateEvent)="handleManualBillCreate($event)"
            [errorMessage]="errorBillCreate"
            [successMessage]="billSuccessMessage"
            (billPayEvent)="handlePayBillEvent($event)"
          >
          </app-bills-grid> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
