
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-container {
  position: relative;
  background-color: white;
  width: 50%; /* Ancho del modal */
  max-width: 500px; /* Ancho máximo del modal */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  background-color: #198754; /* Color de fondo del encabezado */
  padding: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0; /* Eliminar margen predeterminado del título */
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Estilo para cuando el modal está abierto */
.modal.open {
  display: flex;
}

/* Estilo para cuando el modal está cerrado */
.modal:not(.open) {
  display: none;
}


.modal-footer {

  bottom: 5px; /* Ajusta la distancia desde la parte inferior */
  left: 5px; /* Ajusta la distancia desde la izquierda */
}

.accept-button {
  /* Estilos para los botones */
  background-color: #f0f0f0; /* Color de fondo */
  border: none;
  padding: 8px 8px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer;
}

.accept-button + .accept-button {
  margin-left: 10px; /* Añade un margen entre botones */
}
