.page-title {
  background-color: #e3f2fd; /* Azul claro, suave pero no verde */
  padding: 20px;
  border-radius: 5px; /* Bordes suaves */
  text-align: center; /* Centrar el contenido */
}

.home-description {
  color: #0d47a1; /* Azul oscuro, para un buen contraste con el fondo azul claro */
  font-size: 1.5rem; /* Tamaño de texto ligeramente más grande */
  margin: 0;
  padding-top: 10px;
  text-transform: uppercase; /* Letras mayúsculas para mayor impacto */
}

.hr-title {
  width: 50%; /* Más corto para que no ocupe toda la pantalla */
  margin: 10px auto; /* Centrar el hr */
  border-top: 2px solid #0d47a1; /* Azul oscuro para coincidir con el texto */
  border-bottom: none;
}
