/* Estilos para encuadrar el contenido */
.content-box {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px; /* Padding interno */
  border: 1px solid #d1d1d1; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para destacar la caja */
  margin-top: 20px; /* Separación del Page Title */
}

/* Mantener el estilo del radio button */
.radio-buttons {
  margin-top: 10px;
}

/* Estilo del jumbotron para que destaque el Page Title */
.jumbotron {
  background-color: #f0f4f8; /* Color de fondo claro para el jumbotron */
  padding-bottom: 0; /* Eliminar el padding inferior */
}

/* Ajustes en la lista */
.list-home {
  margin-top: 1cm;
  border: none; /* Eliminar bordes */
}
