<div class="container">
  <div class="row list-home">
    <div class="vehicleSection" *ngIf="!_loadingGrid">
      <div class="col-md-12">
        <div class="row">
          <h4 class="display-list-home">Vehiculos cliente</h4>
          <hr>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover table-sm table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Matricula</th>
              <th>Color</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mVehicle of monthlyClient.vehicles; let i = index">
              <td><span>{{ mVehicle.brand }}</span></td>
              <td><span>{{ mVehicle.model }}</span></td>
              <td><span>{{ mVehicle.licenseplate }}</span></td>
              <td><span>{{ mVehicle.color }}</span></td>
              <td><span>$ {{ mVehicle.price }}</span></td>
              <td>
                <button type="button" class="btn btn-success rounded-button grid-button" (click)="editMonthlyVehicle(i)">
                  <i class="bi bi-pencil bi-md"></i> Editar
                </button>
                <button type="button" class="btn btn-success rounded-button grid-button" (click)="viewMonthlyVehicleMovements(mVehicle)">
                  <i class="bi bi-eye bi-md"></i> Movimientos
                </button>
                <button type="button" class="btn btn-success rounded-button grid-button" (click)="openDeleteVehicleModal(i)">
                  <i class="bi bi-trash bi-md"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-success rounded-button add-vehicle-button" (click)="openMonthlyVehiclesModal()">
          <i class="bi bi-plus bi-lg"></i> Agregar vehiculo
        </button>

        <app-monthly-vehicles-modal #monthlyVehiclesModal
            (monthlyVehicleCreatedModal)="handleCreateMonthlyVehicle($event)"
            [monthlyVehicleConfigPrice]="_monthlyVehiclePriceItem">
        </app-monthly-vehicles-modal>
        <app-monthly-vehicles-modal #monthlyVehiclesEditModal
            (monthlyVehicleEditedModal)="handleEditMonthlyVehicle($event)"
            [isEditing]="_isEditingVehicle"
            [monthlyVehicleToEdit]="_monthlyVehicleToEdit">
        </app-monthly-vehicles-modal>

        <div>
          <app-generic-modal #submitModal
            (submittedButton)="handleDeleteVehicleModalEvent($event)"
            [modalTitle]="_submitModalTitle"
            [isDeletingVehicle]="_submitedModalIsDeletingVehicle"
            [vehicleToDelete]="_selectedVehicleToDelete"
            >
          </app-generic-modal>
        </div>

        <div class="row alerts">
          <div class="d-flex justify-content-center animated fadeIn fast">
            <div *ngIf="showingMonthlyVehicleAlert" style="padding-top: 20px">
              <div class="alert alert-danger col-form-label-sm" role="alert">
                {{ messageError }}
              </div>
            </div>
            <div *ngIf="showingMonthlyVehicleConfirmationPanel" style="padding-top: 20px">
              <div class="alert alert-success col-form-label-sm" role="alert">
                {{ messageError }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
