<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <app-page-title
     [componentTitle]="_pageTitle">
    </app-page-title>

    <div class="container">
      <div class="row list-home" (click)="navigateToCalendar()">
        <div class="col-md-4">
          <img src="assets/img/calendar_logo.png" width="150" height="150" alt="imagenDeContenidos">
        </div>
        <div class="col-md-8">
          <div class="row display-list-home">
            <h3>Proximos Vencimientos</h3>
            <p> Visualizacion de proximos vencimientos</p>
          </div>
        </div>
      </div>

      <div class="row list-home" (click)="navigateInProducts()">
        <div class="col-md-4">
            <img src="assets/img/home_logoParkingXhora.png" width="150" height="150" alt="imagenDeContenidos">
        </div>
        <div class="col-md-8">
          <div class="row display-list-home">
            <h3>Ingreso de Productos</h3>
            <p> Ingreso de productos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
