.jumbotron {
  background-color: #f5f5f5; /* Fondo gris claro para un contraste suave con el sidebar y el título */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sutil sombra para resaltar la sección */
}

.container {
  margin-top: 2rem;
}

.list-home {
  border-style: solid;
  border-width: 2px;
  border-color: #90caf9; /* Un azul más claro que armoniza con el fondo del jumbotron */
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 8px; /* Bordes redondeados para un diseño más moderno */
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.list-home:hover {
  background-color: #e3f2fd; /* Un azul claro que destaca al hacer hover */
  cursor: pointer;
}

.display-list-home h3 {
  color: #0d47a1; /* Azul oscuro para los títulos, coincidiendo con el título de la página */
  font-weight: bold;
}

.display-list-home p {
  color: #1976d2; /* Azul medio para los párrafos, proporciona contraste */
}

img {
  border-radius: 50%; /* Hacer que las imágenes sean redondeadas */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.jumbotron h3 {
  color: #0d47a1; /* Azul oscuro para los encabezados */
}

.jumbotron p {
  color: #1976d2; /* Azul medio para los textos explicativos */
}

.display-list-home {
  padding-top: 1rem;
}
