<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div>
        <div class="row">
          <div class="col-md-12">
            <span>Se procedera a eliminar el cliente <strong>Nombre: </strong> {{supplier.name}} <strong>Apellido: </strong> {{ supplier.lastname }}
              con <strong>Documento:</strong> {{ supplier.document }}.
            </span>

            <br>
            <br>
            <span>
              <strong>Una vez eliminado no se podra recuperar la informacion del mismo.</strong>
            </span>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
