<!-- sidebar.component.html -->
<nav class="sidebar">

  <ul class="nav flex-column">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
        <div class="sidebar-brand-text mx-3">Nicre Vencimientos</div>
    </a>

    <div class="public-section">
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Heading -->
      <div class="sidebar-heading">
        Productos
      </div>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['calendar']">
          <span>
            <i class="bi bi-calendar-x"></i> Vencimientos
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['productItems/new']">
          <span>
            <i class="bi bi-box-arrow-in-down"></i> Ingreso Productos
          </span>
        </a>
      </li>
    </div>

    <div class="private-section" *ngIf="isLoggedIn() && hasRole('Admin')">
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Administración
      </div>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['users']">
          <span>
            <i class="bi bi-people"></i> Usuarios
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['administration/suppliers']">
          <span>
            <i class="bi bi-building"></i> Proveedores
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['administration/products']">
          <span>
            <i class="bi bi-bag"></i> Productos
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['administration/fileUploads']">
          <span>
            <i class="bi bi-file-earmark-spreadsheet"></i> Cargas Excel
          </span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    </div>

    <div class="public-section">
      <!-- Heading -->
      <div class="sidebar-heading">
        Cuenta
      </div>
      <li class="nav-item">
        <a class="nav-link logout" (click)="openSubmitModal()">
          <span *ngIf="isLoggedIn()">
            <i class="bi bi-box-arrow-right"></i> Salir
          </span>
        </a>
      </li>
    </div>


  </ul>
</nav>

<app-generic-modal #submitModal
              (submittedButton)="handleSubmitModalEvent($event)"
              [modalTitle]="_submitModalTitle"
              [isLoggingOut]="true"
              >
</app-generic-modal>
