<div class="jumbotron jumbotron-fluid animated fadeIn fast">

  <app-page-title
   [componentTitle]="_pageTitle">
  </app-page-title>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="!_isLoading">
          <app-suppliers-grid
            [suppliers] ="_supplierList"
            (supplierDeleteEvent)="handleDeleteSupplier($event)"
            (supplierViewFileEvent)="handleViewSupplierFile($event)"
            (supplierViewProductsEvent)="handleViewSupplierProducts($event)"
            [errorMessage]="errorSupplierDelete"
            [successMessage]="supplierSuccessMessage"
            >
          </app-suppliers-grid>
        </div>
      </div>
    </div>
  </div>
</div>
