<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div class="row">
        <h3 class="display-list-home" >Proveedor</h3>
      </div>

      <div class="container">
        <div class="row formulary">
          <div class="d-flex justify-content-center animated fadeIn fast">
            <div class="w-70">
              <form [formGroup]="myForm" (ngSubmit)="createSupplier()" class="form-modal">
                <div class="form-row">
                  <div class="form-group col form-custom-col">
                    <label for="name" class="input-label">Nombre</label>
                    <input type="text" formControlName="name" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="rut" class="input-label">Rut</label>
                    <input type="text" formControlName="rut" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="description" class="input-label">Descripcion</label>
                    <input type="text" formControlName="description" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="phoneNumber" class="input-label">Telefono</label>
                    <input type="text" formControlName="phoneNumber" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="secondaryPhoneNumber" class="input-label">Telefono 2</label>
                    <input type="text" formControlName="secondaryPhoneNumber" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="contactName" class="input-label">Contacto</label>
                    <input type="text" formControlName="contactName" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="seller" class="input-label">Vendedor</label>
                    <input type="text" formControlName="seller" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="interval" class="input-label">Intervalo</label>
                    <input type="number" placeholder="Intervalo de visita cada cuantas semanas" formControlName="interval" class="form-control form-input-text">
                  </div>

                  <div class="form-group col form-custom-col">
                    <label for="visitDays" class="input-label">Visita</label>
                    <input type="text" placeholder="Dias de Visita" formControlName="visitDays" class="form-control form-input-text">
                  </div>

                  <div class="submit-button">
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Generar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

